@import 'variables.sass'

body
  width: 100vw
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  background-image: linear-gradient(135deg, rgba(242,246,255,1) 0%, rgba(202,206,215,1) 100%)
  overflow: hidden

@import 'clock.sass'
@import 'preloader.sass'